<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CS247 Project 4</title>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <script src='javascript/MediaStreamRecorder.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="navbar">
   <ul>
      <li><a href="/"> Home </a></li>
      <li><a href="/Milestone1"> Milestone 1 </a></li>
      <li><a href="/Milestone2"> Milestone 2 </a></li>
      <li><a href="/Milestone3"> Milestone 3 </a> </li>
      <li><a href="/Milestone4"> Milestone 4 </a></li>
      <li><a href="/Milestone5"> Milestone 5 </a></li>
      <li><a href="/Milestone6"> Milestone 6 </a></li>
      <li><a href="/Milestone7"> Milestone 7 </a></li>
      <li><a href="/Milestone8"> Milestone 8 </a></li>
    </ul>
    </div>
    
 
    <img src="images/logo.png" id="logo"></img>



    {{{body}}}

</body>
</html>