<div id="about" class="section">
<h3> Our Project </h3>
YouTube-React lets users view their friends’ reactions in sync with youtube videos. <br><br>
We sought to address the difficult of expressing a reaction and the frustration of not receiving responses to videos you send your friends. Throughout the quarter we tackled design challenges such as how to make users comfortable being recorded, how to streamline the sending process, how to display multiple videos without distracting the viewer, and how our app fits into the overall ecosystem. The end product lets users send short videos one at a time to any number of friends. It displays up to 3 reaction videos at once and deletes the reactions after they are viewed. <br><br> Check out some of the milestone pages to learn more about our process!
</div>

<div id="promoVid">
<iframe width="560" height="315" src="//www.youtube.com/embed/nvpcN9bU4PE?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div id="us" class="section">
<h3> About Us </h3>
<h4>Katie Redmond</h4> is a Senior majoring in Computer Science with a concentration in Human Computer Interaction. <br>
<h4>Andrew Dotey</h4> is a coterm graduate student in Computer Science with a focus on internet and mobile computing. 
<img id="team_pic" src="images/us.png"></img>

</div>