  <br>
    <h1> Milestone 1 </h1>

    <div id=brainstorming class="section">
      <h3> Brainstorming </h3>
      <p> We started p4 by brainstorming various ideas for the project. By working together and building off our initial ideas we created a diverse list of potential projects. <br>
       <img id="brainstorm_pic" src="images/brainstorming.png">
      </p>
    </div>

    <div id=ideas class="section">
    <h3> Ideas </h3>
       Next, we narrowed down our ideas to the three best ones (None of which ended up being being the final idea)
        <ol>
          <li> <h4>Communicating the Experience of an Event to Someone not Present </h4>
            The idea here is to have some sort of app that allows a user to easily capture many aspects of an event they are currently attending, with the purpose of sharing this experience with his/her friends who weren’t able to attend. The goal would be for the user’s friends to experience the event as if they were there. The target users are people who go to events and afterwards talk about them with their friends. This app would better allow users to communicate their experiences and allow the user’s friends to enjoy a similar experience. This app would be used by someone while attending an event to capture the experience (through photos, video, audio, text, etc), and again after the event when showing friends. Currently, trying to capture an event with a mobile phone detracts from the experience of the event so we want to create something that will enhance the experience and capture it more easily and accurately than is currently possible </li>
          <li> <h4> Communication between Chefs and Customers at a Restaurant </h4>
            Currently, waiters serve as a buffer between customers and chefs at a restaurant. They are responsible for conveying dietary restrictions, orders, order modifications, compliments, and complaints to the chefs. But all too often there is a miscommunication and orders come out wrong or food has to be sent back. It would be much more efficient for users to have a direct way to communicate with a restaurant’s chefs. Our project would facilitate this direct communication and would allow users to speficy allergies and special orders directly to chefs, without relying on a waiter. It would also allow a user to give direct feedback to chefs after receiving the food, including a way for users to send specific comments if sending back the food. </li>
          <li> <h4> Communication with Salespeople from a Shop Dressing Room </h4>
          While there has been alot of advancements in online shopping, in person shopping is a field that has not changed much over time. The process of waiting in long lines and wandering large stores to find sizes/colors etc is a horrible user experience. Our app would be used by shoppers and salespeople and would allow communication between them regarding items in the store. Shoppers could request different sizes and colors in an item, salespeople could keep track of which shoppers have which items, and users could checkout right from their phones. </li>
        </ol>
      </div>





