<h1> Idea 1: Social Online Shopping </h1>
<p> This idea attempts to reconcile the disconnect between the social experience of shopping with friends and the solitary experience of online shopping. We want to create a solution where it is easy to communicate with friends while online shopping and share the experience with one another.<br>
</p>
<img src="images/247_storyboard_2.jpeg">

<br><br>

<h1> Idea 2: Real-time Reactions to Content </h1>
<p> Often when you send a short youtube clip to a friend their reaction is much more interesting than the generic response they might send you (eg. hahahah). This project would seek to capture your friends' organic responses to a short video clip you sent them. The sender could then watch their friends' reactions alongside the original clip to see what they thought of it. If the user sent a link to a group of friends, they could see all of their friends' responses in one place. </p> <br>
<img src="images/247_storyboard_3.jpeg">

<br><br>

<h1> Idea 3: Sharing the Experience of a Large, Public Event </h1>
<p> The experience of a concert affects many senses and emotions and can be very difficult to describe to friends with simply words or pictures. We imagine a solution where users can quickly and easily send a wide variety of media and concise text to share an event experience with someone else.  </p><br>
<img src="images/247_storyboard1.jpeg">
