<h1> Milestone 3 </h1>
<div class="section">
<h3> Wizard of Oz prototypes </h3>
This week we made wizard of oz prototypes for our current best ideas, social shopping and real time video reactions. We then tested these prototypes on real potential users to gain insight on ideas and design details. See our presentation below for more details.
</div>


<div class="presentation">
<iframe src="https://docs.google.com/presentation/d/1nPdbSzkatRGQEIInIkRO0oGyUud0edGN3-1tr-6-ggw/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>
</div>