
<h2> Introduction </h2>

<h3> Motivation </h3>
 <p>The main motivation of our user test is to test the ease of sharing and watching a video through our product vs simply sharing and watching a youtube link. We hope to gain insights on the overall ease of use as well as specific interface elements on both the sending and receiving ends. 
Our specific driving questions are:</p>
<ol>
<li> How much longer does it take a user to send a link through our app vs simply sending a link from youtube? this will help us find ways to streamline the design to remove barriers to use </li>
<li> How many recipients accept the invitation to be recorded? By determining how many users are comfortable having their reaction recorded when prompted we hope to determine which elements of the UX encourage or discourage them from participating. We hope to use this information to increase the number of people that accept the invitation in the next iteration. </li>
<li> What is the maximum number of videos that a user can watch at once? We will use these observations to determine the maximum number of people that we will allow users to send videos to at once </li>
<li> Are there any pain points or moments of confusion that users experience while using our app? We will be on the lookout for other user problems that we might not have thought to question specifically </li>
</ol> <br>

<p>Our Hypotheses are:</p> 

<ol>
<li> Sharing a video with our app will be nearly as fast/easy as sending a link from youtube </li>
<li> A significant percentage (>30%) of recipients will choose to not to be recorded </li>
<li>Users will be able to watch at least 3 videos simultaneously without problems. After this point there will be decreasing returns from adding more friends </li>
</ol>
<br>

<h3> Methods </h3>
 <p>Our target population is young people who frequently send their friends quick videos for fun. Many of our college student friends fir this description so we each recruited several friends to participate in our study and compensated them with coffee. We have recruited a total of 5 friends to test the sending side of the application and will have them each send the video to several other friends. 
Our study tasks are as follows:</p>
<ol>
<li> We will ask each participant to find a video on youtube and share it with their friends as they would normally and then with our app. We will time the process in both cases and compare sending times within subjects </li>
<li> We will have each of the 5 participants send the video to a different number of friends (ie. the 1st person will send it to 1 friends, the second person will send it to 2 friends). After their friends have watched the video we will have the participants watch their friends' reaction videos. Afterwards we will ask the participants the following questions and compare the results between subjects:
 How many videos were you able to focus on? 
 How enjoyable was it to watch your friends' reactions? (on a 7 point likert scale) 

</li>
<li> We will ask users to think alout while watching their friends' reactions. This will help us understand how much they enjoy the experience and will compliment the interview results </li>
<li> We will measure the number of friends who accept/decline the video invitation. In cases where a user did not choose to be recorded while watching the video we will ask the orignal sender to sent it to another friend to ensure that we are still able to fully test the number of videos they were able to watch at once. </li>
</ol>

