<h2>Informed Consent for Participants: </h2>
 
Title of Project: YoutubeReact <br>
Investigators: Katie Redmond (kredmond@stanford.edu), Andrew Dotey (adotey@stanford.edu) <br><br>
 
I. Purpose of this Research/Project 
The purpose of the study is to observe how people send youtube videos and view their friends’ reactions using our prototype (YoutubeReact). This study may involve comparisons with how users send videos in other ways and how different users react to the experience of watching reactions. These observations will directly lead to 
further development and study of the YoutubeReact prototype. <br><br>
 
II. Procedures 
Participants will be asked to complete several tasks using our app and then will be interviewed for approximately 15 minutes. Questions about how they 
share video clips with friends and family will be asked. An audio recording 
will be made for the duration of the interview. At times, participants will be asked to show 
how certain tasks are done on their devices. Screenshots of the device may be taken during this time.  <br><br>
 
III. Extent of Anonymity and Confidentiality 
The researchers will not collect personal information beyond name and basic demographics. 
Subjects are free not to answer any questions or respond to experimental situations that they choose without penalty. 
At times, information associated with the participant may be displayed on their device and may be captured when the researchers take a screenshot. Every effort will be made to allow the subject to avoid displaying private information. The participant is free to hide any personal information on the device or request that the screenshot not be taken. 
Collected information will be stored and maintained by the researchers listed above. The 
information will not be distributed to anyone who is not involved in the research. 
Anonymized quotes or clips may be used in presenting the project in class. Should the 
researchers decide to release the information more publicly, the information will be 
anonymized and consent will be obtained from the participant. <br><br>
 
IV. Compensation 
The participant will be provided with a Starbucks coffee for their participation <br><br>
 
V. Subject’s Permission 
I have read the Consent Form and conditions of this project. I have had all my questions 
answered. I hereby acknowledge the above and give my voluntary consent: <br><br>
 
 
Signature____________________________________________ <br>Date____________ <br>
 
Printed Name________________________________________
