<h1> Milestone 8 </h1>

<div class="section">
<h3> Finishing Touches and Presentation </h3>
This week we updated our app based on the latest round of user testing and fixed many bugs and small details. The things we changed were:
<ol>
<li> Added error checking for the upload video form. We check to make sure the link is a valid youtube link and that the video id links to a valid video </li>
<li> Taking care of edge case where viewer leaves the page before finishing the video. In this case we save the recording up to that point and display it as normal </li>
<li> Blurred out background when the user needs to turn on the camera. This puts extra emphasis on the message explaining that the user will be recorded and that their reaction video will be ephemeral </li>
<li> Fixed bugs when user clicks on the reaction video. Clicking on reactions now starts/stops the other videos as expected without losing track of the video time</li> 
<li> Updated ephemerality. Users can now rewatch reactions until they leave the page. This ensures that users can go back and watch reactions they may have missed while still protecting the privacy of the viewer </li>
<li> Resized youtube video. We made it slightly smaller so that all of the videos can fully fit on the page at once, makign it easier for the viewer to focus on all of the videos. </li>
<li>Limit video length to 3 minutes. We found that users' enjoyment of our application decreased drastically for videos longer than this so we chose to limit it to force users to only use our app for short clips that will lead to enjoyable reactions because their friends are more likely to watch the entire clip </li>
<li>Added carousel of reactions if there are more than 3. This allows users to send videos to large groups of people, and to choose which reactions they view while still preventing the page from being overwhelming with too many videos </li>
</ul>
</div>

<div class="presentation">
<iframe src="images/247 final poster.pdf" style="width:718px; height:480px;" frameborder="0"></iframe>

</div>